<!doctype html>
<html>
    <head>
	<title>
	    Search threads -
	    {{ with .N }}{{ . }}{{ else }}鏡 for /{{ .B }}/{{ end }}
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../style.css" />
	<link rel="icon" href="favicon.ico" />
	<meta name="viewport" content="initial-scale=1.0,width=device-width" />
    </head>
    <body>
	<header>
	    <h1><a href="." >
		{{ with .N }}{{ . }}{{ else }} Kagami for /{{ .B}}/{{ end}}
	    </a></h1>
	    <nav>
		<a href="./catalog.html">Catalog</a> |
		Search: (<strong>Threads</strong>/<a href="./sfiles.html">Files</a>) |
		<a href="./about.html">About/FAQ</a>
	    </nav>
	</header>
	<p>Not yet implemented...</p>
	<footer>
	    <a href="https://sub.god.jp/~xat/kagami/">Kagami Archiver v0</a>
	</footer>
	<script src="../kagami.js"></script>
    </body>
</html>

{{/* -*- Mode: Web; Engine: Go -*- */}}
