/* GENERAL STYLE */
html, body {
    color: black;
    margin: 0;
    font-family: arial,helvetica,sans-serif;
}

span.bg {
    color: gray;
    font-size: 0.8em;
}
span.heading {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

/* HEADER & FOOTER */
body>header, body>footer {
    padding: 6px;
    margin: 0;
    font-size: 0.75em;
    clear: both;
    background: lightgray;
    border: 0px gray solid;
}

body>header { border-bottom-width: 1px;  }
body>footer { border-top-width: 1px; }
body>header a, body>footer a {
    color: blue;
    text-decoration: none;
}

body>header nav  {
    padding-top: 8px;
}

h1, h2, h3, h4 { margin: 0; }

/* POSTS */
body>p,
ul.catalog,
div.post {
    margin: 8px;
    padding: 6px;
    max-width: calc(100%-8px);
    display: table;
}

div.head {
    padding: 4px 0;
    display: block;
}

div.resp, ul.catalog li {
    background: whitesmoke;
    border: 1px silver solid;
    padding-left: 12px;
}

div.post a.ref {
    text-decoration: none;
    padding-left: 4px;
}
div.post a.ref:hover { text-decoration: underline; }

/* header and catalog */
ul.catalog li span.subject,
div.post header span.subject {color: navy;}
div.post header span.name {color: green;}
div.post header span.capcode {color: crimson;}
div.post header a.ref {color: inherit;}
div.post header span.name,
ul.catalog li span.subject,
div.post header span.subject {
    font-weight: bold;
    padding-right: 4px;
}
div.post header ul.quoted {
    list-style: none;
    display: inline;
    padding: 4px;
    margin: 0;
    font-size: 0.8em;
}
div.post header ul.quoted li {
    display: inline-block;
    padding-right: 8px;
}

div.resp:target {
    background: lavender;
}

ul.catalog  {
    list-style: none;
    font-size: 0.8em;
    text-align: center;
}

ul.catalog li {
    padding: 8px;
    margin: 2px;
    display: inline-grid;
    width: 150px;
    height: 220px;
    overflow: hidden;
    vertical-align: top;
}

ul.catalog li > a { width: 100%; }

ul.catalog li:hover {
    border-color: gray;
}

ul.catalog li img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 100px;
    border: 1px solid gray;
    margin-bottom: 4px;
}

ul.catalog span.subject {
    display: block;
    text-align: center;
}

ul.catalog p {
    text-align: center;
    max-width: 100%;
    word-break: break-all;
    margin: 4px auto;
}

ul.catalog a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 500px) {
    html { font-size: 1.2em; }
    
    body>p,
    ul.catalog,
    div.post,
    aside#search {
	margin: 4px 40px;
	max-width: calc(100%-80px);
    }

    body>header, body>footer {
	padding: 10px 40px;
    }

    ul.catalog  {
	text-align: left;
    }
}

    /* files */
    div.post aside.att {
	font-size: 80%;
	display: inline-table;
    }

div.post aside.att:not(.multi) {
    float: none;
    display: block;
}

div.post aside.atts p.fileinfo {
    margin: 0;
    margin-right: 4px;
    word-break: break-all;
}

div.post aside.att img {
    border: 1px solid silver;
    margin: 4px 6px 4px 0;
    float: left;
}

/* main body */
div.post main {
    padding-top: 4px;
    padding-right: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

div.post main p.quote {color: forestgreen;}
div.post main p.rquote {color: plum;}
div.post main p,
div.post main pre {
    margin: 0;
    min-height: 0.7em;
}

footer > p { margin: 0; }

ul#list {
    list-style: none;
    padding: 0;
}

strong.search {
    color: navy;
}

form#search {
    float: right;
}
