<!doctype html>
<html>
    <head>
	<title>
	    About -
	    {{ with .N }}{{ . }}{{ else }}鏡 for /{{ .B }}/{{ end }}
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./style.css" />
	<link rel="icon" href="favicon.ico" />
	<meta name="viewport" content="initial-scale=1.0,width=device-width" /> 
    </head>
    <body>
	<header>
	    <h1><a href="." >
		{{ with .N }}{{ . }}{{ else }} Kagami for /{{ .B}}/{{ end}}
	    </a></h1>
	    <nav>
		<a href="./catalog.html">Catalog</a> |
		Search: (<a href="./sthreads.html">Threads</a>/<a href="./sfiles.html">Files</a>) |
		<strong>About/FAQ</strong>
	    </nav>
	</header>

	<p><em>about</em></p>

	<footer>
	    <a href="https://sub.god.jp/~xat/kagami/">Kagami Archiver v0</a>
	</footer>
    </body>
</html>

{{/* -*- Mode: Web; Engine: Go -*- */}}

