<!doctype html>
<html>
    <head>
	<title>
	    Search files -
	    {{ with .N }}{{ . }}{{ else }}鏡 for /{{ .B }}/{{ end }}
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./style.css" />
	<link rel="icon" href="favicon.ico" />
	<meta name="viewport" content="initial-scale=1.0,width=device-width" />
    </head>
    <body>
	<header>
	    <h1><a href="." >
		{{ with .N }}{{ . }}{{ else }} Kagami for /{{ .B}}/{{ end}}
	    </a></h1>
	    <nav>
		<a href="./catalog.html">Catalog</a> |
		<a href="./about.html">About/FAQ</a>
	    </nav>
	</header>
	<aside id="search">
	    <form  method="get">
		Search for: <input type="text" name="q" id="q"/> <input type="submit" value="Go" />
	    </form>
	    
	    <p id="error"></p>	    
	</aside>
	
	<ul id="list"></ul>
	
	<footer>
	    <a href="https://sub.god.jp/~xat/kagami/">Kagami Archiver v0</a>
	</footer>
    </body>
    <script src="./search.js"></script>
</html>
{{/* -*- Mode: Web; Engine: Go -*- */}}
